#root {
  padding: 1rem;
}

.markmirror__toolbar {
  margin-bottom: 0.5rem;
}

.markmirror__button {
  width: auto !important;
  height: 38px !important;
  padding: 10px 10px !important;
}

.btn {
  margin-right: 2px;
}
