section {
  margin: 1rem;
}

code {
  display: block;
}

.markmirror__toolbar {
  margin-bottom: 2px;
}

.markmirror__button {
  width: auto;
  height: 38px;
  padding: 10px 10px;
}

.btn {
  margin-right: 2px;
}
